<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="saveRecipe()" type="submit">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <div *ngIf="isEdit; then editRecipeHeading; else newRecipeHeading"></div>
      <ng-template #editRecipeHeading>
        {{'recipe-form.heading.edit' | translate}}
      </ng-template>
      <ng-template #newRecipeHeading>
        {{'recipe-form.heading.new' | translate}}
      </ng-template>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="new-recipe__content ion-padding">
  <div [ngSwitch]="segment">
    <app-general *ngSwitchCase="'general'" [(recipe)]="newRecipe"></app-general>
    <app-new-ingredients
      *ngSwitchCase="'ingredients'"
      [(ingredients)]="newRecipe.ingredients"
    ></app-new-ingredients>
    <app-new-preparation
      [(preparation)]="newRecipe.preparation"
      *ngSwitchCase="'preparation'"
    ></app-new-preparation>
  </div>
</ion-content>

<ion-segment color="primary" [(ngModel)]="segment">
  <ion-segment-button value="general">
    <ion-label>{{'recipe-form.segment.general' | translate}}</ion-label>
    <ion-icon name="information-circle"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="ingredients">
    <ion-label>{{'recipe-form.segment.ingredients' | translate}}</ion-label>
    <ion-icon name="list"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="preparation">
    <ion-label>{{'recipe-form.segment.preparation' | translate}}</ion-label>
    <ion-icon name="reader"></ion-icon>
  </ion-segment-button>
</ion-segment>
