<h3>{{ 'recipe-form.ingredients.heading' | translate }}</h3>

<ion-list>
  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-item *ngFor="let ingredient of ingredients">
      <div class="new-recipe__content__ingredients__fields">
        <ion-input [(ngModel)]="ingredient.name"></ion-input>
        <ion-input [(ngModel)]="ingredient.quantity"></ion-input>
        <ion-item>
          <ion-select
            okText="{{ 'recipe-form.ingredients.confirm-text' | translate }}"
            cancelText="{{ 'recipe-form.ingredients.cancel-text' | translate }}"
            [(ngModel)]="ingredient.quantityType"
          >
            <ion-select-option *ngFor="let quantityType of quantityTypes">{{
              quantityType
            }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  </ion-reorder-group>

  <div class="space-vertical-xs"></div>

  <ion-button
    class="new-recipe__content__ingredients__add"
    (click)="addIngredient()"
    color="secondary"
  >
    <ion-icon slot="start" name="add"></ion-icon>
    {{ 'recipe-form.ingredients.button-add' | translate }}
  </ion-button>
</ion-list>
