<app-recipe-view-toolbar
  [isLoading]="isLoading"
  [title]="'category-view.header.' + category"
  (searchChange)="onSearchChange($event)"
  (startSearch)="onStartSearch($event)"
></app-recipe-view-toolbar>

<ion-content fullscreen class="ion-padding">
  <ng-container *ngFor="let number of [1, 2, 3]">
    <app-list-placeholder
      [isLoading]="!hasRecipes && isLoading"
    ></app-list-placeholder>
  </ng-container>

  <app-initial-message [show]="!isLoading && !hasRecipes"></app-initial-message>
  <ng-container *ngFor="let recipe of categoryRecipes">
    <app-recipe-list-item
      *ngIf="recipe.shouldShow"
      [recipe]="recipe"
    ></app-recipe-list-item>
  </ng-container>
</ion-content>

<app-floating-add-button></app-floating-add-button>
