<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>
        {{ 'general.back'| translate}}
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="decreaseFont()">
        <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="increaseFont()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="recipe">
    <h1 class="recipe-title">{{recipe.title}}</h1>

    <div class="space-vertical-s"></div>

    <h3 class="heading">{{ 'recipe-view.ingredients.heading' | translate }}</h3>
    <div class="divider primary"></div>

    <p *ngIf="!recipe.ingredientsGroups?.length">
      {{ 'recipe-view.ingredients.no-content' | translate }}
    </p>

    <ng-container *ngIf="recipe.ingredientsGroups?.length">
      <ion-list *ngFor="let ingredientGroup of recipe.ingredientsGroups">
        <ion-list-header>
          <span [style.font-size]="fontSize + 'em'"
            >{{ ingredientGroup.title }}</span
          >
        </ion-list-header>

        <ion-item *ngFor="let ingredient of ingredientGroup.ingredients">
          <ion-label>
            <div class="recipe-view__ingredients__list">
              <span [style.font-size]="fontSize + 'em'"
                >{{ ingredient.name }}</span
              ><span [style.font-size]="fontSize + 'em'"
                >{{ ingredient.quantity }} {{ ingredient.quantityType }}</span
              >
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>

    <div class="space-vertical-s"></div>

    <h3 class="heading">{{ 'recipe-view.preparation.heading' | translate }}</h3>
    <div class="divider primary"></div>

    <p [style.font-size]="fontSize + 'em'" *ngIf="!recipe.preparation">
      {{ 'recipe-view.preparation.no-content' | translate }}
    </p>
    <p
      [style.font-size]="fontSize + 'em'"
      *ngIf="recipe.preparation"
      class="recipe-view__preparation"
    >
      {{ recipe.preparation }}
    </p>
  </ng-container>
</ion-content>
