<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="openActionSheet()">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <div *ngIf="isEdit; then editRecipeHeading; else newRecipeHeading"></div>
      <ng-template #editRecipeHeading>
        {{'recipe-form.heading.edit' | translate}}
      </ng-template>
      <ng-template #newRecipeHeading>
        {{'recipe-form.heading.new' | translate}}
      </ng-template>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="recipe-form__content ion-padding">
  <div [ngSwitch]="segment">
    <app-general
      *ngSwitchCase="'general'"
      [(recipe)]="currentRecipe"
    ></app-general>
    <app-new-ingredients
      *ngSwitchCase="'ingredients'"
      [(ingredientGroups)]="currentRecipe.ingredientsGroups"
    ></app-new-ingredients>
    <app-new-preparation
      [(preparation)]="currentRecipe.preparation"
      *ngSwitchCase="'preparation'"
    ></app-new-preparation>
  </div>
</ion-content>

<ion-segment color="primary" [(ngModel)]="segment">
  <ion-segment-button value="general">
    <ion-label>{{'recipe-form.segment.general' | translate}}</ion-label>
    <ion-icon name="information-circle-outline"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="ingredients">
    <ion-label>{{'recipe-form.segment.ingredients' | translate}}</ion-label>
    <ion-icon name="list-outline"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="preparation">
    <ion-label>{{'recipe-form.segment.preparation' | translate}}</ion-label>
    <ion-icon name="reader-outline"></ion-icon>
  </ion-segment-button>
</ion-segment>
