<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{'categories.heading' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="categories ion-padding">
  <ng-container *ngIf="(categories$ | async) as categories">
    <ion-list>
      <ng-container *ngFor="let category of categories">
        <ion-item *ngIf="category.id !== defaultCategoryId" lines="inset">
          <ion-input
            [placeholder]="'categories.input-placeholder' | translate"
            (ionBlur)="saveCategories()"
            [(ngModel)]="category.name"
          ></ion-input>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>

  <div class="space-vertical-s"></div>

  <ion-button
    class="categories__add"
    (click)="addCategory()"
    color="secondary"
    expand="block"
  >
    {{'categories.add-button' | translate}}
  </ion-button>
</ion-content>
