:root {
  --ion-background-color: #F1F9F9;
  --ion-text-color: #002d31;
  --ion-color-primary: #006D77;
  --ion-color-primary-rgb: 0,109,119;
  --ion-color-primary-contrast: #F1F9F9;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #006069;
  --ion-color-primary-tint: #1a7c85;

  --ion-color-secondary: #42999B;
  --ion-color-secondary-rgb: 66,153,155;
  --ion-color-secondary-contrast: #F1F9F9;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #3a8788;
  --ion-color-secondary-tint: #55a3a5;

  --ion-color-tertiary: #63AFAD;
  --ion-color-tertiary-rgb: 99,175,173;
  --ion-color-tertiary-contrast: #002124;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #579a98;
  --ion-color-tertiary-tint: #73b7b5;

  --ion-color-success: #03CEA4;
  --ion-color-success-rgb: 3,206,164;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #03b590;
  --ion-color-success-tint: #1cd3ad;

  --ion-color-warning: #FED766;
  --ion-color-warning-rgb: 254,215,102;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0bd5a;
  --ion-color-warning-tint: #fedb75;

  --ion-color-danger: #FF595E;
  --ion-color-danger-rgb: 255,89,94;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #e04e53;
  --ion-color-danger-tint: #ff6a6e;

  --ion-color-dark: #002124;
  --ion-color-dark-rgb: 0,33,36;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #001d20;
  --ion-color-dark-tint: #1a373a;

  --ion-color-medium: #95b3b0;
  --ion-color-medium-rgb: 149,179,176;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #839e9b;
  --ion-color-medium-tint: #a0bbb8;

  --ion-color-light: #F1F9F9;
  --ion-color-light-rgb: 241,249,249;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d4dbdb;
  --ion-color-light-tint: #f2fafa;
}