<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Recipe Organizer</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="menuItems.home.url" routerDirection="root">
            <ion-icon [name]="menuItems.home.icon" slot="start"></ion-icon>
            {{ 'menu.item.' + menuItems.home.title | translate }}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngFor="let category of categories" auto-hide="true">
          <ion-item
            [routerLink]="categoryViewBaseRoute"
            [queryParams]="{ category: category.name }"
            routerDirection="root"
          >
            <ion-icon [name]="category.icon" slot="start"></ion-icon>
            {{ 'menu.item.' + category.name | translate }}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item
            [routerLink]="menuItems.recipeForm.url"
            routerDirection="root"
          >
            <ion-icon
              [name]="menuItems.recipeForm.icon"
              slot="start"
            ></ion-icon>
            {{ 'menu.item.' + menuItems.recipeForm.title | translate }}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
