<div class="new-recipe__image-selection">
  <img
    class="new-recipe__image-selection__image-preview"
    [src]="
      recipe.img ? imagePrefix + recipe.img : 'assets/images/placeholder.jpg'
    "
  />

  <ion-fab-button
    class="new-recipe__image-selection__button"
    expand="block"
    (click)="getPhoto()"
    color="secondary"
    fill="outline"
    size="small"
  >
    <ion-icon name="camera-outline"></ion-icon>
  </ion-fab-button>
</div>

<div class="ion-padding">
  <ion-item>
    <ion-label position="floating">{{
      'recipe-form.general.label-title' | translate
    }}</ion-label>
    <ion-input [required]="true" [(ngModel)]="recipe.title"></ion-input>
  </ion-item>

  <div class="space-vertical-l"></div>

  <ion-item>
    <ion-label>{{
      'recipe-form.general.label-category' | translate
    }}</ion-label>
    <ion-select
      placeholder="{{
        'recipe-form.general.category.select-placeholder' | translate
      }}"
      okText="{{ 'recipe-form.general.category.select-confirm' | translate }}"
      cancelText="{{
        'recipe-form.general.category.select-cancel' | translate
      }}"
      [(ngModel)]="recipe.categoryId"
    >
      <ion-select-option
        [value]="category.id"
        *ngFor="let category of categories$ | async"
        >{{ category.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <div class="space-vertical-l"></div>

  <form #form="ngForm" (ngSubmit)="addTag(form.value)">
    <ion-item>
      <ion-label>{{ 'recipe-form.general.tags' | translate }}</ion-label>
      <ion-input
        enterkeyhint="enter"
        [(ngModel)]="tagInputValue"
        name="tagValue"
      ></ion-input>
      <ion-button type="submit" color="secondary">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </form>

  <ion-chip color="secondary" *ngFor="let tag of recipe.tags">
    <ion-label>{{ tag }}</ion-label>
  </ion-chip>
</div>
