@import './../../../media-queries.scss';

.recipe-view {
  &__ingredients {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;

    &__tags {
      text-align: center;
    }

    &__title {
      position: absolute;
      bottom: 0;
      margin-bottom: 12px;
      padding: 0 8px;
      color: var(--ion-color-light);
      text-shadow: 2px 2px 2px black;
    }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__image {
      width: 100%;
      max-height: 45vh;
      object-fit: cover;

      @include md {
        display: flex;
        max-width: 35vw;
      }
    }
  }
}
