<div class="recipe-view__ingredients" *ngIf="$recipe | async as recipe">
  <img
    class="recipe-view__ingredients__image"
    [src]="
      recipe.img ? imagePrefix + recipe.img : 'assets/images/placeholder.jpg'
    "
  />

  <div class="recipe-view__ingredients__tags">
    <ion-chip *ngFor="let tag of recipe.tags" color="secondary">
      <ion-label>{{ tag }}</ion-label>
    </ion-chip>
  </div>

  <h3>{{ 'recipe-view.ingredients.heading' | translate }}</h3>
  <p *ngIf="!recipe.ingredients.length">
    {{ 'recipe-view.ingredients.no-content' | translate }}
  </p>

  <ion-list *ngIf="recipe.ingredients.length">
    <ion-item *ngFor="let ingredient of recipe.ingredients">
      <ion-label>
        <div class="recipe-view__ingredients__list">
          <span>{{ ingredient.name }}</span
          ><span>{{ ingredient.quantity }} {{ ingredient.quantityType }}</span>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
