<h3>{{ 'new-recipe.general.heading' | translate }}</h3>

<ion-item>
  <ion-label position="floating">{{
    'new-recipe.general.label-title' | translate
  }}</ion-label>
  <ion-input [required]="true" [(ngModel)]="recipe.title"></ion-input>
</ion-item>

<div class="space-vertical-l"></div>

<ion-item>
  <ion-label>{{ 'new-recipe.general.label-category' | translate }}</ion-label>
  <ion-select
    placeholder="{{
      'new-recipe.general.category.select-placeholder' | translate
    }}"
    okText="{{ 'new-recipe.general.category.select-confirm' | translate }}"
    cancelText="{{ 'new-recipe.general.category.select-cancel' | translate }}"
    [(ngModel)]="recipe.category"
  >
    <ion-select-option [value]="category" *ngFor="let category of categories">{{
      'new-recipe.general.category.' + category | translate
    }}</ion-select-option>
  </ion-select>
</ion-item>

<div class="space-vertical-l"></div>

<form #form="ngForm" (ngSubmit)="addTag(form.value)">
  <ion-item>
    <ion-label>{{ 'new-recipe.general.tags' | translate }}</ion-label>
    <ion-input [(ngModel)]="tagInputValue" name="tagValue"></ion-input>
    <ion-button type="submit" color="secondary">
      <ion-icon slot="icon-only" name="checkmark"></ion-icon>
    </ion-button>
  </ion-item>
</form>

<ion-chip color="secondary" *ngFor="let tag of recipe.tags">
  <ion-label>{{ tag }}</ion-label>
</ion-chip>

<div class="space-vertical-l"></div>

<div class="new-recipe__image-selection">
  <img
    class="new-recipe__image-selection__image-preview"
    [src]="
      recipe.img ? imagePrefix + recipe.img : 'assets/images/placeholder.jpg'
    "
  />

  <div class="space-vertical-xs"></div>

  <ion-button (click)="getPhoto()" color="secondary">{{
    'new-recipe.general.add-photo' | translate
  }}</ion-button>
</div>
