@import './../../../media-queries.scss';

.new-recipe {
  &__image-selection {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    margin-right: auto;
    margin-left: auto;

    @include md {
      max-width: 30vw;
    }

    &__image-preview {
      width: 100%;
      height: auto;
    }
  }
}
