<app-recipe-view-toolbar
  [isLoading]="false"
  [title]="'recipe-overview.heading'"
  (searchChange)="onSearchChange($event)"
  (startSearch)="onSearchStart($event)"
></app-recipe-view-toolbar>

<ion-content fullscreen class="ion-padding">
  <ng-container *ngFor="let number of [1, 2, 3]">
    <app-list-placeholder
      [isLoading]="!hasRecipes && isLoading"
    ></app-list-placeholder>
  </ng-container>

  <app-initial-message [show]="!isLoading && !hasRecipes"></app-initial-message>

  <ng-container *ngFor="let category of categories">
    <ion-list *ngIf="showCategory(category) && category.recipes.length">
      <ion-list-header lines="full">
        <ion-text>
          <h2 class="recipe-overview__list-header">
            <ion-icon
              color="primary"
              name="{{category.icon}}"
              class="recipe-overview__list-header__icon"
            ></ion-icon>
            {{'recipe-overview.categories.' + category.name | translate}}
          </h2>
        </ion-text>
      </ion-list-header>

      <ng-container *ngFor="let recipe of category.recipes">
        <app-recipe-list-item
          *ngIf="recipe.shouldShow"
          [recipe]="recipe"
        ></app-recipe-list-item>
      </ng-container>

      <div class="space-vertical-m"></div>
    </ion-list>
  </ng-container>
</ion-content>

<app-floating-add-button></app-floating-add-button>
