<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'recipe-overview.heading' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ng-container *ngFor="let number of [1, 2, 3]">
    <app-list-placeholder
      [isLoading]="!hasRecipes && isLoading"
    ></app-list-placeholder>
  </ng-container>

  <app-initial-message [show]="!isLoading && !hasRecipes"></app-initial-message>

  <ng-container *ngFor="let category of categories">
    <ion-list *ngIf="category.recipes.length">
      <ion-list-header lines="full">
        <ion-text>
          <h2 class="recipe-overview__list-header">
            <ion-icon
              color="primary"
              name="{{category.icon}}"
              class="recipe-overview__list-header__icon"
            ></ion-icon>
            {{'recipe-overview.categories.' + category.name | translate}}
          </h2>
        </ion-text>
      </ion-list-header>

      <ion-item
        class="recipe-overview__list-item"
        (click)="onRecipeClick(recipe)"
        *ngFor="let recipe of category.recipes"
        detail
        lines="none"
      >
        <ion-thumbnail slot="start">
          <img
            class="recipe-overview__list-item__image"
            [src]="recipe.img ? imagePrefix + recipe.img : 'assets/images/placeholder.jpg'"
          />
        </ion-thumbnail>
        <ion-label>
          <h2>{{recipe.title}}</h2>
          <div
            *ngIf="recipe.tags.length"
            class="recipe-card__content__categories"
          >
            <ion-chip
              color="secondary"
              outline
              *ngFor="let label of recipe.tags"
            >
              <ion-label>{{label}}</ion-label>
            </ion-chip>
          </div>
        </ion-label>
      </ion-item>

      <div class="space-vertical-m"></div>
    </ion-list>
  </ng-container>
</ion-content>
